// =======================================
// Media Queries Variables (Device)
// =======================================
$tablet: 600px;
$desktop: 1170px;
body {
    font-size: 14px;
}

.content_wrap {
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.title {
    h2 {
        font-weight: 600;
        font-size: 21px;
        color: #333;
    }
    p {
        font-size: 14px;
        font-weight: 350;
        color: #666;
    }
    padding-bottom: 20px;
    border-bottom: 2px solid #333;
    margin-bottom: 20px;
}

.btn.full {
    width: 100%;
}

.form-groub.register_step {
    dd {
        padding-bottom: 10px;
    }
}

.pj_list {
    > li {
        padding: 20px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
    }
    .li_title {
        padding-top: 30px;
        position: relative;
        h2 {
            font-weight: 400;
            color: $blue;
            font-size: 21px;
            padding-bottom: 5px;
            &:hover {
                text-decoration: underline;
            }
        }
        p {
            color: #888;
        }
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
    }
}

.sub_info {
    position: absolute;
    top: 0;
    left: 0;
    li {
        display: inline-block;
        padding: 3px 6px;
        border-radius: 15px;
        border: 1px solid $blue;
        color: $blue;
        font-size: 12px;
        font-weight: 400;
    }
}
.li_detail_info .sub_text {
    padding-bottom: 10px;
}
.pagination_wrap {
    text-align: center;
}
