<div class="footer">
    <div class="footer_wrap">
        <h2>
                <img src="./common/images/join_logo_bottom.png" alt="공부선배 로고">
            </h2>
        <ul>
            <li>
                <p>Education O2O Platform</p>
            </li>
            <li><a href="#">Android<span></span></a></li>
            <li><a href="#">iOS</a></li>
        </ul>
    </div>
</div>
</div>