<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- 2016.11.21 수정 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 2016.11.21 수정 끝-->
    <title>G_lancer</title>
    <!-- Styles : CSS & SASS Sorcemap -->
    <link rel="stylesheet" href="./common/css/style.css">
    <!--[if lt IE 9]>
    <script src="./common/js/jquery-1.10.2.min.js"></script>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="./common/js/jquery-3.1.1.min.js"></script>
    <script src="./common/js/jquery-ui.js"></script>
    <script src="./common/js/modernizr.custom.js"></script>
    <script src="./common/js/bootstrap.js"></script>
    <script src="./common/js/vue.js"></script>
    <!--[if lte IE 9]>
    <script src="./common/js/placeholders.min.js"></script>
    <![endif]-->
</head>
