$blue: #124d80;

caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777777;
  text-align: left;
}

th {
  text-align: left;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  > {
    thead > tr > th, tbody > tr > th, tfoot > tr > th, thead > tr > td, tbody > tr > td, tfoot > tr > td {
      padding: 8px;
      line-height: 1.42857143;
      vertical-align: top;
      border-top: 1px solid #dddddd;
    }
    thead > tr > th {
      vertical-align: bottom;
      border-bottom: 2px solid #dddddd;
    }
    caption + thead > tr:first-child > th, colgroup + thead > tr:first-child > th, thead:first-child > tr:first-child > th, caption + thead > tr:first-child > td, colgroup + thead > tr:first-child > td, thead:first-child > tr:first-child > td {
      border-top: 0;
    }
    tbody + tbody {
      border-top: 2px solid #dddddd;
    }
  }
  .table {
    background-color: #ffffff;
  }
}

.table-condensed > {
  thead > tr > th, tbody > tr > th, tfoot > tr > th, thead > tr > td, tbody > tr > td, tfoot > tr > td {
    padding: 5px;
  }
}

.table-bordered {
  border: 1px solid #dddddd;
  > {
    thead > tr > th, tbody > tr > th, tfoot > tr > th, thead > tr > td, tbody > tr > td, tfoot > tr > td {
      border: 1px solid #dddddd;
    }
    thead > tr > {
      th, td {
        border-bottom-width: 2px;
      }
    }
  }
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}

table {
  col[class*="col-"] {
    position: static;
    float: none;
    display: table-column;
  }
  td[class*="col-"], th[class*="col-"] {
    position: static;
    float: none;
    display: table-cell;
  }
}

.table > {
  thead > tr > td.active, tbody > tr > td.active, tfoot > tr > td.active, thead > tr > th.active, tbody > tr > th.active, tfoot > tr > th.active, thead > tr.active > td, tbody > tr.active > td, tfoot > tr.active > td, thead > tr.active > th, tbody > tr.active > th, tfoot > tr.active > th {
    background-color: #f5f5f5;
  }
}

.table-hover > tbody > tr {
  > {
    td.active:hover, th.active:hover {
      background-color: #e8e8e8;
    }
  }
  &.active:hover > td, &:hover > .active, &.active:hover > th {
    background-color: #e8e8e8;
  }
}

.table > {
  thead > tr > td.success, tbody > tr > td.success, tfoot > tr > td.success, thead > tr > th.success, tbody > tr > th.success, tfoot > tr > th.success, thead > tr.success > td, tbody > tr.success > td, tfoot > tr.success > td, thead > tr.success > th, tbody > tr.success > th, tfoot > tr.success > th {
    background-color: #dff0d8;
  }
}

.table-hover > tbody > tr {
  > {
    td.success:hover, th.success:hover {
      background-color: #d0e9c6;
    }
  }
  &.success:hover > td, &:hover > .success, &.success:hover > th {
    background-color: #d0e9c6;
  }
}

.table > {
  thead > tr > td.info, tbody > tr > td.info, tfoot > tr > td.info, thead > tr > th.info, tbody > tr > th.info, tfoot > tr > th.info, thead > tr.info > td, tbody > tr.info > td, tfoot > tr.info > td, thead > tr.info > th, tbody > tr.info > th, tfoot > tr.info > th {
    background-color: #d9edf7;
  }
}

.table-hover > tbody > tr {
  > {
    td.info:hover, th.info:hover {
      background-color: #c4e3f3;
    }
  }
  &.info:hover > td, &:hover > .info, &.info:hover > th {
    background-color: #c4e3f3;
  }
}

.table > {
  thead > tr > td.warning, tbody > tr > td.warning, tfoot > tr > td.warning, thead > tr > th.warning, tbody > tr > th.warning, tfoot > tr > th.warning, thead > tr.warning > td, tbody > tr.warning > td, tfoot > tr.warning > td, thead > tr.warning > th, tbody > tr.warning > th, tfoot > tr.warning > th {
    background-color: #fcf8e3;
  }
}

.table-hover > tbody > tr {
  > {
    td.warning:hover, th.warning:hover {
      background-color: #faf2cc;
    }
  }
  &.warning:hover > td, &:hover > .warning, &.warning:hover > th {
    background-color: #faf2cc;
  }
}

.table > {
  thead > tr > td.danger, tbody > tr > td.danger, tfoot > tr > td.danger, thead > tr > th.danger, tbody > tr > th.danger, tfoot > tr > th.danger, thead > tr.danger > td, tbody > tr.danger > td, tfoot > tr.danger > td, thead > tr.danger > th, tbody > tr.danger > th, tfoot > tr.danger > th {
    background-color: #f2dede;
  }
}

.table-hover > tbody > tr {
  > {
    td.danger:hover, th.danger:hover {
      background-color: #ebcccc;
    }
  }
  &.danger:hover > td, &:hover > .danger, &.danger:hover > th {
    background-color: #ebcccc;
  }
}

.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}

@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
    > {
      .table {
        margin-bottom: 0;
        > {
          thead > tr > th, tbody > tr > th, tfoot > tr > th, thead > tr > td, tbody > tr > td, tfoot > tr > td {
            white-space: nowrap;
          }
        }
      }
      .table-bordered {
        border: 0;
        > {
          thead > tr > th:first-child, tbody > tr > th:first-child, tfoot > tr > th:first-child, thead > tr > td:first-child, tbody > tr > td:first-child, tfoot > tr > td:first-child {
            border-left: 0;
          }
          thead > tr > th:last-child, tbody > tr > th:last-child, tfoot > tr > th:last-child, thead > tr > td:last-child, tbody > tr > td:last-child, tfoot > tr > td:last-child {
            border-right: 0;
          }
          tbody > tr:last-child > th, tfoot > tr:last-child > th, tbody > tr:last-child > td, tfoot > tr:last-child > td {
            border-bottom: 0;
          }
        }
      }
    }
  }
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  &[type="search"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  &[type="radio"], &[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
  }
  &[type="file"] {
    display: block;
  }
  &[type="range"] {
    display: block;
    width: 100%;
  }
}

select {
  &[multiple], &[size] {
    height: auto;
  }
}

input {
  &[type="file"]:focus, &[type="radio"]:focus, &[type="checkbox"]:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}

output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  &:focus {
    border-color: $blue;
    outline: 0;
  }
  &::-moz-placeholder {
    color: #999999;
    opacity: 1;
  }
  &:-ms-input-placeholder, &::-webkit-input-placeholder {
    color: #999999;
  }
  &::-ms-expand {
    border: 0;
    background-color: transparent;
  }
  &[disabled], &[readonly] {
    background-color: #eeeeee;
    opacity: 1;
  }
}

fieldset[disabled] .form-control {
  background-color: #eeeeee;
  opacity: 1;
}

.form-control[disabled], fieldset[disabled] .form-control {
  cursor: not-allowed;
}

textarea.form-control {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input {
    &[type="date"].form-control, &[type="time"].form-control, &[type="datetime-local"].form-control, &[type="month"].form-control {
      line-height: 34px;
    }
    &[type="date"].input-sm, &[type="time"].input-sm, &[type="datetime-local"].input-sm, &[type="month"].input-sm {
      line-height: 30px;
    }
  }
  .input-group-sm input {
    &[type="date"], &[type="time"], &[type="datetime-local"], &[type="month"] {
      line-height: 30px;
    }
  }
  input {
    &[type="date"].input-lg, &[type="time"].input-lg, &[type="datetime-local"].input-lg, &[type="month"].input-lg {
      line-height: 46px;
    }
  }
  .input-group-lg input {
    &[type="date"], &[type="time"], &[type="datetime-local"], &[type="month"] {
      line-height: 46px;
    }
  }
}

.form-group {
  margin-bottom: 15px;
}

.radio, .checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.radio label, .checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9;
}

.radio + .radio, .checkbox + .checkbox {
  margin-top: -5px;
}

.radio-inline, .checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}

.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}

input {
  &[type="radio"][disabled], &[type="checkbox"][disabled], &[type="radio"].disabled, &[type="checkbox"].disabled {
    cursor: not-allowed;
  }
}

fieldset[disabled] input {
  &[type="radio"], &[type="checkbox"] {
    cursor: not-allowed;
  }
}

.radio-inline.disabled, .checkbox-inline.disabled {
  cursor: not-allowed;
}

fieldset[disabled] {
  .radio-inline, .checkbox-inline {
    cursor: not-allowed;
  }
}

.radio.disabled label, .checkbox.disabled label {
  cursor: not-allowed;
}

fieldset[disabled] {
  .radio label, .checkbox label {
    cursor: not-allowed;
  }
}

.form-control-static {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0;
  min-height: 34px;
  &.input-lg, &.input-sm {
    padding-left: 0;
    padding-right: 0;
  }
}

.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

select.input-sm {
  height: 30px;
  line-height: 30px;
}

textarea.input-sm, select[multiple].input-sm {
  height: auto;
}

.form-group-sm {
  .form-control {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
  select.form-control {
    height: 30px;
    line-height: 30px;
  }
  textarea.form-control, select[multiple].form-control {
    height: auto;
  }
  .form-control-static {
    height: 30px;
    min-height: 32px;
    padding: 6px 10px;
    font-size: 12px;
    line-height: 1.5;
  }
}

.input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

select.input-lg {
  height: 46px;
  line-height: 46px;
}

textarea.input-lg, select[multiple].input-lg {
  height: auto;
}

.form-group-lg {
  .form-control {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
  }
  select.form-control {
    height: 46px;
    line-height: 46px;
  }
  textarea.form-control, select[multiple].form-control {
    height: auto;
  }
  .form-control-static {
    height: 46px;
    min-height: 38px;
    padding: 11px 16px;
    font-size: 18px;
    line-height: 1.3333333;
  }
}

.has-feedback {
  position: relative;
  .form-control {
    padding-right: 42.5px;
  }
}

.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}

.input-lg + .form-control-feedback, .input-group-lg + .form-control-feedback, .form-group-lg .form-control + .form-control-feedback {
  width: 46px;
  height: 46px;
  line-height: 46px;
}

.input-sm + .form-control-feedback, .input-group-sm + .form-control-feedback, .form-group-sm .form-control + .form-control-feedback {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.has-success {
  .help-block, .control-label, .radio, .checkbox, .radio-inline, .checkbox-inline, &.radio label, &.checkbox label, &.radio-inline label, &.checkbox-inline label {
    color: #3c763d;
  }
  .form-control {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    &:focus {
      border-color: #2b542c;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
    }
  }
  .input-group-addon {
    color: #3c763d;
    border-color: #3c763d;
    background-color: #dff0d8;
  }
  .form-control-feedback {
    color: #3c763d;
  }
}

.has-warning {
  .help-block, .control-label, .radio, .checkbox, .radio-inline, .checkbox-inline, &.radio label, &.checkbox label, &.radio-inline label, &.checkbox-inline label {
    color: #8a6d3b;
  }
  .form-control {
    border-color: #8a6d3b;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    &:focus {
      border-color: #66512c;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
    }
  }
  .input-group-addon {
    color: #8a6d3b;
    border-color: #8a6d3b;
    background-color: #fcf8e3;
  }
  .form-control-feedback {
    color: #8a6d3b;
  }
}

.has-error {
  .help-block, .control-label, .radio, .checkbox, .radio-inline, .checkbox-inline, &.radio label, &.checkbox label, &.radio-inline label, &.checkbox-inline label {
    color: #a94442;
  }
  .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    &:focus {
      border-color: #843534;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    }
  }
  .input-group-addon {
    color: #a94442;
    border-color: #a94442;
    background-color: #f2dede;
  }
  .form-control-feedback {
    color: #a94442;
  }
}

.has-feedback label {
  ~ .form-control-feedback {
    top: 25px;
  }
  &.sr-only ~ .form-control-feedback {
    top: 0;
  }
}

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}

@media (min-width: 768px) {
  .form-inline {
    .form-group {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
    }
    .form-control {
      display: inline-block;
      width: auto;
      vertical-align: middle;
    }
    .form-control-static {
      display: inline-block;
    }
    .input-group {
      display: inline-table;
      vertical-align: middle;
      .input-group-addon, .input-group-btn, .form-control {
        width: auto;
      }
      > .form-control {
        width: 100%;
      }
    }
    .control-label {
      margin-bottom: 0;
      vertical-align: middle;
    }
    .radio, .checkbox {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;
      vertical-align: middle;
    }
    .radio label, .checkbox label {
      padding-left: 0;
    }
    .radio input[type="radio"], .checkbox input[type="checkbox"] {
      position: relative;
      margin-left: 0;
    }
    .has-feedback .form-control-feedback {
      top: 0;
    }
  }
}

.form-horizontal {
  .radio, .checkbox, .radio-inline, .checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
  }
  .radio, .checkbox {
    min-height: 27px;
  }
  .form-group {
    margin-left: -15px;
    margin-right: -15px;
  }
  .has-feedback .form-control-feedback {
    right: 15px;
  }
}

@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
  }
}

@media (min-width: 768px) {
  .form-horizontal .form-group-lg .control-label {
    padding-top: 11px;
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .form-horizontal .form-group-sm .control-label {
    padding-top: 6px;
    font-size: 12px;
  }
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:focus, &:active:focus, &.active:focus, &.focus, &:active.focus, &.active.focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  &:hover, &:focus, &.focus {
    color: #333333;
    text-decoration: none;
  }
  &:active, &.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
  &.disabled, &[disabled] {
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity = 65);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity = 65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

a.btn.disabled, fieldset[disabled] a.btn {
  pointer-events: none;
}

.btn-default {
  color: #333333;
  background-color: #eee;
  border-color: #cccccc;
  &:focus, &.focus {
    color: #333333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
  }
  &:hover, &:active, &.active {
    color: #333333;
    background-color: #e6e6e6;
    border-color: #adadad;
  }
}

.open > .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-default {
  &:active:hover, &.active:hover {
    color: #333333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
  }
}

.open > .dropdown-toggle.btn-default:hover {
  color: #333333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}

.btn-default {
  &:active:focus, &.active:focus {
    color: #333333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
  }
}

.open > .dropdown-toggle.btn-default:focus {
  color: #333333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}

.btn-default {
  &:active.focus, &.active.focus {
    color: #333333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
  }
}

.open > .dropdown-toggle.btn-default.focus {
  color: #333333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}

.btn-default {
  &:active, &.active {
    background-image: none;
  }
}

.open > .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default {
  &.disabled:hover, &[disabled]:hover {
    background-color: #ffffff;
    border-color: #cccccc;
  }
}

fieldset[disabled] .btn-default:hover {
  background-color: #ffffff;
  border-color: #cccccc;
}

.btn-default {
  &.disabled:focus, &[disabled]:focus {
    background-color: #ffffff;
    border-color: #cccccc;
  }
}

fieldset[disabled] .btn-default:focus {
  background-color: #ffffff;
  border-color: #cccccc;
}

.btn-default {
  &.disabled.focus, &[disabled].focus {
    background-color: #ffffff;
    border-color: #cccccc;
  }
}

fieldset[disabled] .btn-default.focus {
  background-color: #ffffff;
  border-color: #cccccc;
}

.btn-default .badge {
  color: #ffffff;
  background-color: #333333;
}

.btn-primary {
  color: #ffffff;
  background-color: $blue;
  border-color: #2e6da4;
  &:focus, &.focus {
    color: #ffffff;
    background-color: #286090;
    border-color: #122b40;
  }
  &:hover, &:active, &.active {
    color: #ffffff;
    background-color: #286090;
    border-color: #204d74;
  }
}

.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #286090;
  border-color: #204d74;
}

.btn-primary {
  &:active:hover, &.active:hover {
    color: #ffffff;
    background-color: #204d74;
    border-color: #122b40;
  }
}

.open > .dropdown-toggle.btn-primary:hover {
  color: #ffffff;
  background-color: #204d74;
  border-color: #122b40;
}

.btn-primary {
  &:active:focus, &.active:focus {
    color: #ffffff;
    background-color: #204d74;
    border-color: #122b40;
  }
}

.open > .dropdown-toggle.btn-primary:focus {
  color: #ffffff;
  background-color: #204d74;
  border-color: #122b40;
}

.btn-primary {
  &:active.focus, &.active.focus {
    color: #ffffff;
    background-color: #204d74;
    border-color: #122b40;
  }
}

.open > .dropdown-toggle.btn-primary.focus {
  color: #ffffff;
  background-color: #204d74;
  border-color: #122b40;
}

.btn-primary {
  &:active, &.active {
    background-image: none;
  }
}

.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary {
  &.disabled:hover, &[disabled]:hover {
    background-color: #337ab7;
    border-color: #2e6da4;
  }
}

fieldset[disabled] .btn-primary:hover {
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-primary {
  &.disabled:focus, &[disabled]:focus {
    background-color: #337ab7;
    border-color: #2e6da4;
  }
}

fieldset[disabled] .btn-primary:focus {
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-primary {
  &.disabled.focus, &[disabled].focus {
    background-color: #337ab7;
    border-color: #2e6da4;
  }
}

fieldset[disabled] .btn-primary.focus {
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-primary .badge {
  color: #337ab7;
  background-color: #ffffff;
}

.btn-success {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  &:focus, &.focus {
    color: #ffffff;
    background-color: #449d44;
    border-color: #255625;
  }
  &:hover, &:active, &.active {
    color: #ffffff;
    background-color: #449d44;
    border-color: #398439;
  }
}

.open > .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #449d44;
  border-color: #398439;
}

.btn-success {
  &:active:hover, &.active:hover {
    color: #ffffff;
    background-color: #398439;
    border-color: #255625;
  }
}

.open > .dropdown-toggle.btn-success:hover {
  color: #ffffff;
  background-color: #398439;
  border-color: #255625;
}

.btn-success {
  &:active:focus, &.active:focus {
    color: #ffffff;
    background-color: #398439;
    border-color: #255625;
  }
}

.open > .dropdown-toggle.btn-success:focus {
  color: #ffffff;
  background-color: #398439;
  border-color: #255625;
}

.btn-success {
  &:active.focus, &.active.focus {
    color: #ffffff;
    background-color: #398439;
    border-color: #255625;
  }
}

.open > .dropdown-toggle.btn-success.focus {
  color: #ffffff;
  background-color: #398439;
  border-color: #255625;
}

.btn-success {
  &:active, &.active {
    background-image: none;
  }
}

.open > .dropdown-toggle.btn-success {
  background-image: none;
}

.btn-success {
  &.disabled:hover, &[disabled]:hover {
    background-color: #5cb85c;
    border-color: #4cae4c;
  }
}

fieldset[disabled] .btn-success:hover {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-success {
  &.disabled:focus, &[disabled]:focus {
    background-color: #5cb85c;
    border-color: #4cae4c;
  }
}

fieldset[disabled] .btn-success:focus {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-success {
  &.disabled.focus, &[disabled].focus {
    background-color: #5cb85c;
    border-color: #4cae4c;
  }
}

fieldset[disabled] .btn-success.focus {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-success .badge {
  color: #5cb85c;
  background-color: #ffffff;
}

.btn-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
  &:focus, &.focus {
    color: #ffffff;
    background-color: #31b0d5;
    border-color: #1b6d85;
  }
  &:hover, &:active, &.active {
    color: #ffffff;
    background-color: #31b0d5;
    border-color: #269abc;
  }
}

.open > .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #31b0d5;
  border-color: #269abc;
}

.btn-info {
  &:active:hover, &.active:hover {
    color: #ffffff;
    background-color: #269abc;
    border-color: #1b6d85;
  }
}

.open > .dropdown-toggle.btn-info:hover {
  color: #ffffff;
  background-color: #269abc;
  border-color: #1b6d85;
}

.btn-info {
  &:active:focus, &.active:focus {
    color: #ffffff;
    background-color: #269abc;
    border-color: #1b6d85;
  }
}

.open > .dropdown-toggle.btn-info:focus {
  color: #ffffff;
  background-color: #269abc;
  border-color: #1b6d85;
}

.btn-info {
  &:active.focus, &.active.focus {
    color: #ffffff;
    background-color: #269abc;
    border-color: #1b6d85;
  }
}

.open > .dropdown-toggle.btn-info.focus {
  color: #ffffff;
  background-color: #269abc;
  border-color: #1b6d85;
}

.btn-info {
  &:active, &.active {
    background-image: none;
  }
}

.open > .dropdown-toggle.btn-info {
  background-image: none;
}

.btn-info {
  &.disabled:hover, &[disabled]:hover {
    background-color: #5bc0de;
    border-color: #46b8da;
  }
}

fieldset[disabled] .btn-info:hover {
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-info {
  &.disabled:focus, &[disabled]:focus {
    background-color: #5bc0de;
    border-color: #46b8da;
  }
}

fieldset[disabled] .btn-info:focus {
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-info {
  &.disabled.focus, &[disabled].focus {
    background-color: #5bc0de;
    border-color: #46b8da;
  }
}

fieldset[disabled] .btn-info.focus {
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-info .badge {
  color: #5bc0de;
  background-color: #ffffff;
}

.btn-warning {
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: #eea236;
  &:focus, &.focus {
    color: #ffffff;
    background-color: #ec971f;
    border-color: #985f0d;
  }
  &:hover, &:active, &.active {
    color: #ffffff;
    background-color: #ec971f;
    border-color: #d58512;
  }
}

.open > .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #ec971f;
  border-color: #d58512;
}

.btn-warning {
  &:active:hover, &.active:hover {
    color: #ffffff;
    background-color: #d58512;
    border-color: #985f0d;
  }
}

.open > .dropdown-toggle.btn-warning:hover {
  color: #ffffff;
  background-color: #d58512;
  border-color: #985f0d;
}

.btn-warning {
  &:active:focus, &.active:focus {
    color: #ffffff;
    background-color: #d58512;
    border-color: #985f0d;
  }
}

.open > .dropdown-toggle.btn-warning:focus {
  color: #ffffff;
  background-color: #d58512;
  border-color: #985f0d;
}

.btn-warning {
  &:active.focus, &.active.focus {
    color: #ffffff;
    background-color: #d58512;
    border-color: #985f0d;
  }
}

.open > .dropdown-toggle.btn-warning.focus {
  color: #ffffff;
  background-color: #d58512;
  border-color: #985f0d;
}

.btn-warning {
  &:active, &.active {
    background-image: none;
  }
}

.open > .dropdown-toggle.btn-warning {
  background-image: none;
}

.btn-warning {
  &.disabled:hover, &[disabled]:hover {
    background-color: #f0ad4e;
    border-color: #eea236;
  }
}

fieldset[disabled] .btn-warning:hover {
  background-color: #f0ad4e;
  border-color: #eea236;
}

.btn-warning {
  &.disabled:focus, &[disabled]:focus {
    background-color: #f0ad4e;
    border-color: #eea236;
  }
}

fieldset[disabled] .btn-warning:focus {
  background-color: #f0ad4e;
  border-color: #eea236;
}

.btn-warning {
  &.disabled.focus, &[disabled].focus {
    background-color: #f0ad4e;
    border-color: #eea236;
  }
}

fieldset[disabled] .btn-warning.focus {
  background-color: #f0ad4e;
  border-color: #eea236;
}

.btn-warning .badge {
  color: #f0ad4e;
  background-color: #ffffff;
}

.btn-danger {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a;
  &:focus, &.focus {
    color: #ffffff;
    background-color: #c9302c;
    border-color: #761c19;
  }
  &:hover, &:active, &.active {
    color: #ffffff;
    background-color: #c9302c;
    border-color: #ac2925;
  }
}

.open > .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #c9302c;
  border-color: #ac2925;
}

.btn-danger {
  &:active:hover, &.active:hover {
    color: #ffffff;
    background-color: #ac2925;
    border-color: #761c19;
  }
}

.open > .dropdown-toggle.btn-danger:hover {
  color: #ffffff;
  background-color: #ac2925;
  border-color: #761c19;
}

.btn-danger {
  &:active:focus, &.active:focus {
    color: #ffffff;
    background-color: #ac2925;
    border-color: #761c19;
  }
}

.open > .dropdown-toggle.btn-danger:focus {
  color: #ffffff;
  background-color: #ac2925;
  border-color: #761c19;
}

.btn-danger {
  &:active.focus, &.active.focus {
    color: #ffffff;
    background-color: #ac2925;
    border-color: #761c19;
  }
}

.open > .dropdown-toggle.btn-danger.focus {
  color: #ffffff;
  background-color: #ac2925;
  border-color: #761c19;
}

.btn-danger {
  &:active, &.active {
    background-image: none;
  }
}

.open > .dropdown-toggle.btn-danger {
  background-image: none;
}

.btn-danger {
  &.disabled:hover, &[disabled]:hover {
    background-color: #d9534f;
    border-color: #d43f3a;
  }
}

fieldset[disabled] .btn-danger:hover {
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-danger {
  &.disabled:focus, &[disabled]:focus {
    background-color: #d9534f;
    border-color: #d43f3a;
  }
}

fieldset[disabled] .btn-danger:focus {
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-danger {
  &.disabled.focus, &[disabled].focus {
    background-color: #d9534f;
    border-color: #d43f3a;
  }
}

fieldset[disabled] .btn-danger.focus {
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-danger .badge {
  color: #d9534f;
  background-color: #ffffff;
}

.btn-link {
  color: #337ab7;
  font-weight: normal;
  border-radius: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  &:active, &.active, &[disabled] {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-link {
  border-color: transparent;
  &:hover, &:focus, &:active {
    border-color: transparent;
  }
  &:hover, &:focus {
    color: #23527c;
    text-decoration: underline;
    background-color: transparent;
  }
  &[disabled]:hover {
    color: #777777;
    text-decoration: none;
  }
}

fieldset[disabled] .btn-link:hover, .btn-link[disabled]:focus, fieldset[disabled] .btn-link:focus {
  color: #777777;
  text-decoration: none;
}

.btn-lg, .btn-group-lg > .btn {
  padding: 15px;
  font-size: 18px;
}

.btn-sm, .btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-xs, .btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-block {
  display: block;
  width: 100%;
  + .btn-block {
    margin-top: 5px;
  }
}

input {
  &[type="submit"].btn-block, &[type="reset"].btn-block, &[type="button"].btn-block {
    width: 100%;
  }
}

.btn-group, .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.btn-group > .btn, .btn-group-vertical > .btn {
  position: relative;
  float: left;
}

.btn-group > .btn:hover, .btn-group-vertical > .btn:hover, .btn-group > .btn:focus, .btn-group-vertical > .btn:focus, .btn-group > .btn:active, .btn-group-vertical > .btn:active, .btn-group > .btn.active, .btn-group-vertical > .btn.active {
  z-index: 2;
}

.btn-group {
  .btn + {
    .btn, .btn-group {
      margin-left: -1px;
    }
  }
  .btn-group + {
    .btn, .btn-group {
      margin-left: -1px;
    }
  }
}

.btn-toolbar {
  margin-left: -5px;
  .btn, .btn-group, .input-group {
    float: left;
  }
  > {
    .btn, .btn-group, .input-group {
      margin-left: 5px;
    }
  }
}

.btn-group {
  > {
    .btn {
      &:not(:first-child):not(:last-child):not(.dropdown-toggle) {
        border-radius: 0;
      }
      &:first-child {
        margin-left: 0;
        &:not(:last-child):not(.dropdown-toggle) {
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
        }
      }
      &:last-child:not(:first-child) {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }
    .dropdown-toggle:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
    .btn-group {
      float: left;
      &:not(:first-child):not(:last-child) > .btn {
        border-radius: 0;
      }
      &:first-child:not(:last-child) > {
        .btn:last-child, .dropdown-toggle {
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
        }
      }
      &:last-child:not(:first-child) > .btn:first-child {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }
  }
  .dropdown-toggle:active {
    outline: 0;
  }
  &.open .dropdown-toggle {
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    &.btn-link {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
  > {
    .btn + .dropdown-toggle {
      padding-left: 8px;
      padding-right: 8px;
    }
    .btn-lg + .dropdown-toggle {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}

.btn .caret {
  margin-left: 0;
}

.btn-lg .caret {
  border-width: 5px 5px 0;
  border-bottom-width: 0;
}

.dropup .btn-lg .caret {
  border-width: 0 5px 5px;
}

.btn-group-vertical > {
  .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
  }
  .btn-group {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    > .btn {
      display: block;
      float: none;
      width: 100%;
      max-width: 100%;
      float: none;
    }
  }
  .btn + {
    .btn, .btn-group {
      margin-top: -1px;
      margin-left: 0;
    }
  }
  .btn-group + {
    .btn, .btn-group {
      margin-top: -1px;
      margin-left: 0;
    }
  }
  .btn {
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
    &:first-child:not(:last-child) {
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    &:last-child:not(:first-child) {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }
  .btn-group {
    &:not(:first-child):not(:last-child) > .btn {
      border-radius: 0;
    }
    &:first-child:not(:last-child) > {
      .btn:last-child, .dropdown-toggle {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
    &:last-child:not(:first-child) > .btn:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
  }
}

.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  > {
    .btn {
      float: none;
      display: table-cell;
      width: 1%;
    }
    .btn-group {
      float: none;
      display: table-cell;
      width: 1%;
      .btn {
        width: 100%;
      }
      .dropdown-menu {
        left: auto;
      }
    }
  }
}

[data-toggle="buttons"] > {
  .btn input[type="radio"], .btn-group > .btn input[type="radio"], .btn input[type="checkbox"], .btn-group > .btn input[type="checkbox"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
  }
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  &[class*="col-"] {
    float: none;
    padding-left: 0;
    padding-right: 0;
  }
  .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    &:focus {
      z-index: 3;
    }
  }
}

.input-group-lg > {
  .form-control, .input-group-addon, .input-group-btn > .btn {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
  }
}

select.input-group-lg > {
  .form-control, .input-group-addon, .input-group-btn > .btn {
    height: 46px;
    line-height: 46px;
  }
}

textarea.input-group-lg > {
  .form-control, .input-group-addon, .input-group-btn > .btn {
    height: auto;
  }
}

select[multiple].input-group-lg > {
  .form-control, .input-group-addon, .input-group-btn > .btn {
    height: auto;
  }
}

.input-group-sm > {
  .form-control, .input-group-addon, .input-group-btn > .btn {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
}

select.input-group-sm > {
  .form-control, .input-group-addon, .input-group-btn > .btn {
    height: 30px;
    line-height: 30px;
  }
}

textarea.input-group-sm > {
  .form-control, .input-group-addon, .input-group-btn > .btn {
    height: auto;
  }
}

select[multiple].input-group-sm > {
  .form-control, .input-group-addon, .input-group-btn > .btn {
    height: auto;
  }
}

.input-group-addon, .input-group-btn, .input-group .form-control {
  display: table-cell;
}

.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.input-group-addon, .input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555555;
  text-align: center;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  border-radius: 4px;
  &.input-sm {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
  }
  &.input-lg {
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px;
  }
  input {
    &[type="radio"], &[type="checkbox"] {
      margin-top: 0;
    }
  }
}

.input-group .form-control:first-child, .input-group-addon:first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.input-group-btn {
  &:first-child > {
    .btn, .btn-group > .btn, .dropdown-toggle {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }
  &:last-child > {
    .btn:not(:last-child):not(.dropdown-toggle), .btn-group:not(:last-child) > .btn {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

.input-group-addon:first-child {
  border-right: 0;
}

.input-group .form-control:last-child, .input-group-addon:last-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.input-group-btn {
  &:last-child > {
    .btn, .btn-group > .btn, .dropdown-toggle {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }
  &:first-child > {
    .btn:not(:first-child), .btn-group:not(:first-child) > .btn {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }
}

.input-group-addon:last-child {
  border-left: 0;
}

.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
  > .btn {
    position: relative;
    + .btn {
      margin-left: -1px;
    }
    &:hover, &:focus, &:active {
      z-index: 2;
    }
  }
  &:first-child > {
    .btn, .btn-group {
      margin-right: -1px;
    }
  }
  &:last-child > {
    .btn, .btn-group {
      z-index: 2;
      margin-left: -1px;
    }
  }
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
  > {
    li {
      display: inline;
      > {
        a, span {
          position: relative;
          float: left;
          padding: 6px 12px;
          line-height: 1.42857143;
          text-decoration: none;
          color: #337ab7;
          background-color: #ffffff;
          border: 1px solid #dddddd;
          margin-left: -1px;
        }
      }
      &:first-child > {
        a, span {
          margin-left: 0;
          border-bottom-left-radius: 4px;
          border-top-left-radius: 4px;
        }
      }
      &:last-child > {
        a, span {
          border-bottom-right-radius: 4px;
          border-top-right-radius: 4px;
        }
      }
      > {
        a:hover, span:hover, a:focus, span:focus {
          z-index: 2;
          color: #23527c;
          background-color: #eeeeee;
          border-color: #dddddd;
        }
      }
    }
    .active > {
      a, span, a:hover, span:hover, a:focus, span:focus {
        z-index: 3;
        color: #ffffff;
        background-color: #337ab7;
        border-color: #337ab7;
        cursor: default;
      }
    }
    .disabled > {
      span {
        color: #777777;
        background-color: #ffffff;
        border-color: #dddddd;
        cursor: not-allowed;
        &:hover, &:focus {
          color: #777777;
          background-color: #ffffff;
          border-color: #dddddd;
          cursor: not-allowed;
        }
      }
      a {
        color: #777777;
        background-color: #ffffff;
        border-color: #dddddd;
        cursor: not-allowed;
        &:hover, &:focus {
          color: #777777;
          background-color: #ffffff;
          border-color: #dddddd;
          cursor: not-allowed;
        }
      }
    }
  }
}

.pagination-lg > li {
  > {
    a, span {
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.3333333;
    }
  }
  &:first-child > {
    a, span {
      border-bottom-left-radius: 6px;
      border-top-left-radius: 6px;
    }
  }
  &:last-child > {
    a, span {
      border-bottom-right-radius: 6px;
      border-top-right-radius: 6px;
    }
  }
}

.pagination-sm > li {
  > {
    a, span {
      padding: 5px 10px;
      font-size: 12px;
      line-height: 1.5;
    }
  }
  &:first-child > {
    a, span {
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
    }
  }
  &:last-child > {
    a, span {
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
    }
  }
}

.list-group {
  margin-bottom: 20px;
  padding-left: 0;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  &:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }
  &:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}

a.list-group-item, button.list-group-item {
  color: #555555;
}

a.list-group-item .list-group-item-heading, button.list-group-item .list-group-item-heading {
  color: #333333;
}

a.list-group-item:hover, button.list-group-item:hover, a.list-group-item:focus {
  text-decoration: none;
  color: #555555;
  background-color: #f5f5f5;
}

button.list-group-item {
  &:focus {
    text-decoration: none;
    color: #555555;
    background-color: #f5f5f5;
  }
  width: 100%;
  text-align: left;
}

.list-group-item {
  &.disabled {
    background-color: #eeeeee;
    color: #777777;
    cursor: not-allowed;
    &:hover, &:focus {
      background-color: #eeeeee;
      color: #777777;
      cursor: not-allowed;
    }
    .list-group-item-heading, &:hover .list-group-item-heading, &:focus .list-group-item-heading {
      color: inherit;
    }
    .list-group-item-text, &:hover .list-group-item-text, &:focus .list-group-item-text {
      color: #777777;
    }
  }
  &.active {
    z-index: 2;
    color: #ffffff;
    background-color: #337ab7;
    border-color: #337ab7;
    &:hover, &:focus {
      z-index: 2;
      color: #ffffff;
      background-color: #337ab7;
      border-color: #337ab7;
    }
    .list-group-item-heading, &:hover .list-group-item-heading, &:focus .list-group-item-heading, .list-group-item-heading > small, &:hover .list-group-item-heading > small, &:focus .list-group-item-heading > small, .list-group-item-heading > .small, &:hover .list-group-item-heading > .small, &:focus .list-group-item-heading > .small {
      color: inherit;
    }
    .list-group-item-text, &:hover .list-group-item-text, &:focus .list-group-item-text {
      color: #c7ddef;
    }
  }
}

.list-group-item-success {
  color: #3c763d;
  background-color: #dff0d8;
}

a.list-group-item-success, button.list-group-item-success {
  color: #3c763d;
}

a.list-group-item-success .list-group-item-heading, button.list-group-item-success .list-group-item-heading {
  color: inherit;
}

a.list-group-item-success:hover, button.list-group-item-success:hover, a.list-group-item-success:focus, button.list-group-item-success:focus {
  color: #3c763d;
  background-color: #d0e9c6;
}

a.list-group-item-success.active, button.list-group-item-success.active, a.list-group-item-success.active:hover, button.list-group-item-success.active:hover, a.list-group-item-success.active:focus, button.list-group-item-success.active:focus {
  color: #fff;
  background-color: #3c763d;
  border-color: #3c763d;
}

.list-group-item-info {
  color: #31708f;
  background-color: #d9edf7;
}

a.list-group-item-info, button.list-group-item-info {
  color: #31708f;
}

a.list-group-item-info .list-group-item-heading, button.list-group-item-info .list-group-item-heading {
  color: inherit;
}

a.list-group-item-info:hover, button.list-group-item-info:hover, a.list-group-item-info:focus, button.list-group-item-info:focus {
  color: #31708f;
  background-color: #c4e3f3;
}

a.list-group-item-info.active, button.list-group-item-info.active, a.list-group-item-info.active:hover, button.list-group-item-info.active:hover, a.list-group-item-info.active:focus, button.list-group-item-info.active:focus {
  color: #fff;
  background-color: #31708f;
  border-color: #31708f;
}

.list-group-item-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
}

a.list-group-item-warning, button.list-group-item-warning {
  color: #8a6d3b;
}

a.list-group-item-warning .list-group-item-heading, button.list-group-item-warning .list-group-item-heading {
  color: inherit;
}

a.list-group-item-warning:hover, button.list-group-item-warning:hover, a.list-group-item-warning:focus, button.list-group-item-warning:focus {
  color: #8a6d3b;
  background-color: #faf2cc;
}

a.list-group-item-warning.active, button.list-group-item-warning.active, a.list-group-item-warning.active:hover, button.list-group-item-warning.active:hover, a.list-group-item-warning.active:focus, button.list-group-item-warning.active:focus {
  color: #fff;
  background-color: #8a6d3b;
  border-color: #8a6d3b;
}

.list-group-item-danger {
  color: #a94442;
  background-color: #f2dede;
}

a.list-group-item-danger, button.list-group-item-danger {
  color: #a94442;
}

a.list-group-item-danger .list-group-item-heading, button.list-group-item-danger .list-group-item-heading {
  color: inherit;
}

a.list-group-item-danger:hover, button.list-group-item-danger:hover, a.list-group-item-danger:focus, button.list-group-item-danger:focus {
  color: #a94442;
  background-color: #ebcccc;
}

a.list-group-item-danger.active, button.list-group-item-danger.active, a.list-group-item-danger.active:hover, button.list-group-item-danger.active:hover, a.list-group-item-danger.active:focus, button.list-group-item-danger.active:focus {
  color: #fff;
  background-color: #a94442;
  border-color: #a94442;
}

.list-group-item-heading {
  margin-top: 0;
  margin-bottom: 5px;
}

.list-group-item-text {
  margin-bottom: 0;
  line-height: 1.3;
}

.panel {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-body {
  padding: 15px;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  > .dropdown .dropdown-toggle {
    color: inherit;
  }
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
  > {
    a, small, .small, small > a, .small > a {
      color: inherit;
    }
  }
}

.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.panel > {
  .list-group, .panel-collapse > .list-group {
    margin-bottom: 0;
  }
  .list-group .list-group-item, .panel-collapse > .list-group .list-group-item {
    border-width: 1px 0;
    border-radius: 0;
  }
  .list-group:first-child .list-group-item:first-child, .panel-collapse > .list-group:first-child .list-group-item:first-child {
    border-top: 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }
  .list-group:last-child .list-group-item:last-child, .panel-collapse > .list-group:last-child .list-group-item:last-child {
    border-bottom: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .panel-heading + .panel-collapse > .list-group .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}

.panel-heading + .list-group .list-group-item:first-child, .list-group + .panel-footer {
  border-top-width: 0;
}

.panel > {
  .table, .table-responsive > .table, .panel-collapse > .table {
    margin-bottom: 0;
  }
  .table caption, .table-responsive > .table caption, .panel-collapse > .table caption {
    padding-left: 15px;
    padding-right: 15px;
  }
  .table:first-child, .table-responsive:first-child > .table:first-child {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }
  .table:first-child > thead:first-child > tr:first-child, .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child, .table:first-child > tbody:first-child > tr:first-child, .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .table:first-child > thead:first-child > tr:first-child td:first-child, .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child, .table:first-child > tbody:first-child > tr:first-child td:first-child, .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child, .table:first-child > thead:first-child > tr:first-child th:first-child, .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child, .table:first-child > tbody:first-child > tr:first-child th:first-child, .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
    border-top-left-radius: 3px;
  }
  .table:first-child > thead:first-child > tr:first-child td:last-child, .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child, .table:first-child > tbody:first-child > tr:first-child td:last-child, .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child, .table:first-child > thead:first-child > tr:first-child th:last-child, .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child, .table:first-child > tbody:first-child > tr:first-child th:last-child, .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
    border-top-right-radius: 3px;
  }
  .table:last-child, .table-responsive:last-child > .table:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .table:last-child > tbody:last-child > tr:last-child, .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child, .table:last-child > tfoot:last-child > tr:last-child, .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .table:last-child > tbody:last-child > tr:last-child td:first-child, .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child, .table:last-child > tfoot:last-child > tr:last-child td:first-child, .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child, .table:last-child > tbody:last-child > tr:last-child th:first-child, .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child, .table:last-child > tfoot:last-child > tr:last-child th:first-child, .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
    border-bottom-left-radius: 3px;
  }
  .table:last-child > tbody:last-child > tr:last-child td:last-child, .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child, .table:last-child > tfoot:last-child > tr:last-child td:last-child, .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child, .table:last-child > tbody:last-child > tr:last-child th:last-child, .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child, .table:last-child > tfoot:last-child > tr:last-child th:last-child, .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
    border-bottom-right-radius: 3px;
  }
  .panel-body + {
    .table, .table-responsive {
      border-top: 1px solid #dddddd;
    }
  }
  .table + .panel-body, .table-responsive + .panel-body {
    border-top: 1px solid #dddddd;
  }
  .table > tbody:first-child > tr:first-child {
    th, td {
      border-top: 0;
    }
  }
  .table-bordered, .table-responsive > .table-bordered {
    border: 0;
  }
  .table-bordered > thead > tr > th:first-child, .table-responsive > .table-bordered > thead > tr > th:first-child, .table-bordered > tbody > tr > th:first-child, .table-responsive > .table-bordered > tbody > tr > th:first-child, .table-bordered > tfoot > tr > th:first-child, .table-responsive > .table-bordered > tfoot > tr > th:first-child, .table-bordered > thead > tr > td:first-child, .table-responsive > .table-bordered > thead > tr > td:first-child, .table-bordered > tbody > tr > td:first-child, .table-responsive > .table-bordered > tbody > tr > td:first-child, .table-bordered > tfoot > tr > td:first-child, .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-bordered > thead > tr > th:last-child, .table-responsive > .table-bordered > thead > tr > th:last-child, .table-bordered > tbody > tr > th:last-child, .table-responsive > .table-bordered > tbody > tr > th:last-child, .table-bordered > tfoot > tr > th:last-child, .table-responsive > .table-bordered > tfoot > tr > th:last-child, .table-bordered > thead > tr > td:last-child, .table-responsive > .table-bordered > thead > tr > td:last-child, .table-bordered > tbody > tr > td:last-child, .table-responsive > .table-bordered > tbody > tr > td:last-child, .table-bordered > tfoot > tr > td:last-child, .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-bordered > thead > tr:first-child > td, .table-responsive > .table-bordered > thead > tr:first-child > td, .table-bordered > tbody > tr:first-child > td, .table-responsive > .table-bordered > tbody > tr:first-child > td, .table-bordered > thead > tr:first-child > th, .table-responsive > .table-bordered > thead > tr:first-child > th, .table-bordered > tbody > tr:first-child > th, .table-responsive > .table-bordered > tbody > tr:first-child > th, .table-bordered > tbody > tr:last-child > td, .table-responsive > .table-bordered > tbody > tr:last-child > td, .table-bordered > tfoot > tr:last-child > td, .table-responsive > .table-bordered > tfoot > tr:last-child > td, .table-bordered > tbody > tr:last-child > th, .table-responsive > .table-bordered > tbody > tr:last-child > th, .table-bordered > tfoot > tr:last-child > th {
    border-bottom: 0;
  }
  .table-responsive {
    > .table-bordered > tfoot > tr:last-child > th {
      border-bottom: 0;
    }
    border: 0;
    margin-bottom: 0;
  }
}

.panel-group {
  margin-bottom: 20px;
  .panel {
    margin-bottom: 0;
    border-radius: 4px;
    + .panel {
      margin-top: 5px;
    }
  }
  .panel-heading {
    border-bottom: 0;
    + .panel-collapse > {
      .panel-body, .list-group {
        border-top: 1px solid #dddddd;
      }
    }
  }
  .panel-footer {
    border-top: 0;
    + .panel-collapse .panel-body {
      border-bottom: 1px solid #dddddd;
    }
  }
}

.panel-default {
  border-color: #dddddd;
  > {
    .panel-heading {
      color: #333333;
      background-color: #f5f5f5;
      border-color: #dddddd;
      + .panel-collapse > .panel-body {
        border-top-color: #dddddd;
      }
      .badge {
        color: #f5f5f5;
        background-color: #333333;
      }
    }
    .panel-footer + .panel-collapse > .panel-body {
      border-bottom-color: #dddddd;
    }
  }
}

.panel-primary {
  border-color: #337ab7;
  > {
    .panel-heading {
      color: #ffffff;
      background-color: #337ab7;
      border-color: #337ab7;
      + .panel-collapse > .panel-body {
        border-top-color: #337ab7;
      }
      .badge {
        color: #337ab7;
        background-color: #ffffff;
      }
    }
    .panel-footer + .panel-collapse > .panel-body {
      border-bottom-color: #337ab7;
    }
  }
}

.panel-success {
  border-color: #d6e9c6;
  > {
    .panel-heading {
      color: #3c763d;
      background-color: #dff0d8;
      border-color: #d6e9c6;
      + .panel-collapse > .panel-body {
        border-top-color: #d6e9c6;
      }
      .badge {
        color: #dff0d8;
        background-color: #3c763d;
      }
    }
    .panel-footer + .panel-collapse > .panel-body {
      border-bottom-color: #d6e9c6;
    }
  }
}

.panel-info {
  border-color: #bce8f1;
  > {
    .panel-heading {
      color: #31708f;
      background-color: #d9edf7;
      border-color: #bce8f1;
      + .panel-collapse > .panel-body {
        border-top-color: #bce8f1;
      }
      .badge {
        color: #d9edf7;
        background-color: #31708f;
      }
    }
    .panel-footer + .panel-collapse > .panel-body {
      border-bottom-color: #bce8f1;
    }
  }
}

.panel-warning {
  border-color: #faebcc;
  > {
    .panel-heading {
      color: #8a6d3b;
      background-color: #fcf8e3;
      border-color: #faebcc;
      + .panel-collapse > .panel-body {
        border-top-color: #faebcc;
      }
      .badge {
        color: #fcf8e3;
        background-color: #8a6d3b;
      }
    }
    .panel-footer + .panel-collapse > .panel-body {
      border-bottom-color: #faebcc;
    }
  }
}

.panel-danger {
  border-color: #ebccd1;
  > {
    .panel-heading {
      color: #a94442;
      background-color: #f2dede;
      border-color: #ebccd1;
      + .panel-collapse > .panel-body {
        border-top-color: #ebccd1;
      }
      .badge {
        color: #f2dede;
        background-color: #a94442;
      }
    }
    .panel-footer + .panel-collapse > .panel-body {
      border-bottom-color: #ebccd1;
    }
  }
}

.modal-open {
  overflow: hidden;
}

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  &.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
  }
  &.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
  &.fade {
    opacity: 0;
    filter: alpha(opacity = 0);
  }
  &.in {
    opacity: 0.5;
    filter: alpha(opacity = 50);
  }
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  .close {
    margin-top: -2px;
  }
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
}

.modal-body {
  position: relative;
  padding: 15px;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
  .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0;
  }
  .btn-group .btn + .btn {
    margin-left: -1px;
  }
  .btn-block + .btn-block {
    margin-left: 0;
  }
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

.clearfix {
  &:before, &:after {
    content: " ";
    display: table;
  }
}

.dl-horizontal dd {
  &:before, &:after {
    content: " ";
    display: table;
  }
}

.form-horizontal .form-group {
  &:before, &:after {
    content: " ";
    display: table;
  }
}

.btn-toolbar {
  &:before, &:after {
    content: " ";
    display: table;
  }
}

.btn-group-vertical > .btn-group {
  &:before, &:after {
    content: " ";
    display: table;
  }
}

.panel-body {
  &:before, &:after {
    content: " ";
    display: table;
  }
}

.modal-header {
  &:before, &:after {
    content: " ";
    display: table;
  }
}

.modal-footer {
  &:before, &:after {
    content: " ";
    display: table;
  }
}

.clearfix:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .panel-body:after, .modal-header:after, .modal-footer:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.hidden {
  display: none !important;
}

.affix {
  position: fixed;
}

fieldset[disabled] {
  .btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.btn-default .badge, .btn-primary .badge, .btn-success .badge, .btn-info .badge, .btn-warning .badge, .btn-danger .badge {
  text-shadow: none;
}

.btn {
  &:active, &.active {
    background-image: none;
  }
}

.btn-default {
  background-repeat: repeat-x;
  border-color: #dbdbdb;
  text-shadow: 0 1px 0 #fff;
  border-color: #ccc;
  &:hover, &:focus {
    background-color: #e0e0e0;
    background-position: 0 -15px;
  }
  &:active, &.active {
    background-color: #e0e0e0;
    border-color: #dbdbdb;
  }
  &.disabled, &[disabled] {
    background-color: #e0e0e0;
    background-image: none;
  }
}

fieldset[disabled] .btn-default {
  background-color: #e0e0e0;
  background-image: none;
}

.btn-default {
  &.disabled:hover, &[disabled]:hover {
    background-color: #e0e0e0;
    background-image: none;
  }
}

fieldset[disabled] .btn-default:hover {
  background-color: #e0e0e0;
  background-image: none;
}

.btn-default {
  &.disabled:focus, &[disabled]:focus {
    background-color: #e0e0e0;
    background-image: none;
  }
}

fieldset[disabled] .btn-default:focus {
  background-color: #e0e0e0;
  background-image: none;
}

.btn-default {
  &.disabled.focus, &[disabled].focus {
    background-color: #e0e0e0;
    background-image: none;
  }
}

fieldset[disabled] .btn-default.focus {
  background-color: #e0e0e0;
  background-image: none;
}

.btn-default {
  &.disabled:active, &[disabled]:active {
    background-color: #e0e0e0;
    background-image: none;
  }
}

fieldset[disabled] .btn-default:active {
  background-color: #e0e0e0;
  background-image: none;
}

.btn-default {
  &.disabled.active, &[disabled].active {
    background-color: #e0e0e0;
    background-image: none;
  }
}

fieldset[disabled] .btn-default.active {
  background-color: #e0e0e0;
  background-image: none;
}

.btn-primary {
  background-repeat: repeat-x;
  border-color: #245580;
  &:hover, &:focus {
    background-color: #265a88;
    background-position: 0 -15px;
  }
  &:active, &.active {
    background-color: #265a88;
    border-color: #245580;
  }
  &.disabled, &[disabled] {
    background-color: #265a88;
    background-image: none;
  }
}

fieldset[disabled] .btn-primary {
  background-color: #265a88;
  background-image: none;
}

.btn-primary {
  &.disabled:hover, &[disabled]:hover {
    background-color: #265a88;
    background-image: none;
  }
}

fieldset[disabled] .btn-primary:hover {
  background-color: #265a88;
  background-image: none;
}

.btn-primary {
  &.disabled:focus, &[disabled]:focus {
    background-color: #265a88;
    background-image: none;
  }
}

fieldset[disabled] .btn-primary:focus {
  background-color: #265a88;
  background-image: none;
}

.btn-primary {
  &.disabled.focus, &[disabled].focus {
    background-color: #265a88;
    background-image: none;
  }
}

fieldset[disabled] .btn-primary.focus {
  background-color: #265a88;
  background-image: none;
}

.btn-primary {
  &.disabled:active, &[disabled]:active {
    background-color: #265a88;
    background-image: none;
  }
}

fieldset[disabled] .btn-primary:active {
  background-color: #265a88;
  background-image: none;
}

.btn-primary {
  &.disabled.active, &[disabled].active {
    background-color: #265a88;
    background-image: none;
  }
}

fieldset[disabled] .btn-primary.active {
  background-color: #265a88;
  background-image: none;
}

.btn-success {
  background-image: -webkit-linear-gradient(top, #5cb85c 0%, #419641 100%);
  background-image: -o-linear-gradient(top, #5cb85c 0%, #419641 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5cb85c), to(#419641));
  background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #3e8f3e;
  &:hover, &:focus {
    background-color: #419641;
    background-position: 0 -15px;
  }
  &:active, &.active {
    background-color: #419641;
    border-color: #3e8f3e;
  }
  &.disabled, &[disabled] {
    background-color: #419641;
    background-image: none;
  }
}

fieldset[disabled] .btn-success {
  background-color: #419641;
  background-image: none;
}

.btn-success {
  &.disabled:hover, &[disabled]:hover {
    background-color: #419641;
    background-image: none;
  }
}

fieldset[disabled] .btn-success:hover {
  background-color: #419641;
  background-image: none;
}

.btn-success {
  &.disabled:focus, &[disabled]:focus {
    background-color: #419641;
    background-image: none;
  }
}

fieldset[disabled] .btn-success:focus {
  background-color: #419641;
  background-image: none;
}

.btn-success {
  &.disabled.focus, &[disabled].focus {
    background-color: #419641;
    background-image: none;
  }
}

fieldset[disabled] .btn-success.focus {
  background-color: #419641;
  background-image: none;
}

.btn-success {
  &.disabled:active, &[disabled]:active {
    background-color: #419641;
    background-image: none;
  }
}

fieldset[disabled] .btn-success:active {
  background-color: #419641;
  background-image: none;
}

.btn-success {
  &.disabled.active, &[disabled].active {
    background-color: #419641;
    background-image: none;
  }
}

fieldset[disabled] .btn-success.active {
  background-color: #419641;
  background-image: none;
}

.btn-info {
  background-image: -webkit-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
  background-image: -o-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5bc0de), to(#2aabd2));
  background-image: linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #28a4c9;
  &:hover, &:focus {
    background-color: #2aabd2;
    background-position: 0 -15px;
  }
  &:active, &.active {
    background-color: #2aabd2;
    border-color: #28a4c9;
  }
  &.disabled, &[disabled] {
    background-color: #2aabd2;
    background-image: none;
  }
}

fieldset[disabled] .btn-info {
  background-color: #2aabd2;
  background-image: none;
}

.btn-info {
  &.disabled:hover, &[disabled]:hover {
    background-color: #2aabd2;
    background-image: none;
  }
}

fieldset[disabled] .btn-info:hover {
  background-color: #2aabd2;
  background-image: none;
}

.btn-info {
  &.disabled:focus, &[disabled]:focus {
    background-color: #2aabd2;
    background-image: none;
  }
}

fieldset[disabled] .btn-info:focus {
  background-color: #2aabd2;
  background-image: none;
}

.btn-info {
  &.disabled.focus, &[disabled].focus {
    background-color: #2aabd2;
    background-image: none;
  }
}

fieldset[disabled] .btn-info.focus {
  background-color: #2aabd2;
  background-image: none;
}

.btn-info {
  &.disabled:active, &[disabled]:active {
    background-color: #2aabd2;
    background-image: none;
  }
}

fieldset[disabled] .btn-info:active {
  background-color: #2aabd2;
  background-image: none;
}

.btn-info {
  &.disabled.active, &[disabled].active {
    background-color: #2aabd2;
    background-image: none;
  }
}

fieldset[disabled] .btn-info.active {
  background-color: #2aabd2;
  background-image: none;
}

.btn-warning {
  background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
  background-image: -o-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0ad4e), to(#eb9316));
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #eb9316 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffeb9316', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #e38d13;
  &:hover, &:focus {
    background-color: #eb9316;
    background-position: 0 -15px;
  }
  &:active, &.active {
    background-color: #eb9316;
    border-color: #e38d13;
  }
  &.disabled, &[disabled] {
    background-color: #eb9316;
    background-image: none;
  }
}

fieldset[disabled] .btn-warning {
  background-color: #eb9316;
  background-image: none;
}

.btn-warning {
  &.disabled:hover, &[disabled]:hover {
    background-color: #eb9316;
    background-image: none;
  }
}

fieldset[disabled] .btn-warning:hover {
  background-color: #eb9316;
  background-image: none;
}

.btn-warning {
  &.disabled:focus, &[disabled]:focus {
    background-color: #eb9316;
    background-image: none;
  }
}

fieldset[disabled] .btn-warning:focus {
  background-color: #eb9316;
  background-image: none;
}

.btn-warning {
  &.disabled.focus, &[disabled].focus {
    background-color: #eb9316;
    background-image: none;
  }
}

fieldset[disabled] .btn-warning.focus {
  background-color: #eb9316;
  background-image: none;
}

.btn-warning {
  &.disabled:active, &[disabled]:active {
    background-color: #eb9316;
    background-image: none;
  }
}

fieldset[disabled] .btn-warning:active {
  background-color: #eb9316;
  background-image: none;
}

.btn-warning {
  &.disabled.active, &[disabled].active {
    background-color: #eb9316;
    background-image: none;
  }
}

fieldset[disabled] .btn-warning.active {
  background-color: #eb9316;
  background-image: none;
}

.btn-danger {
  background-image: -webkit-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
  background-image: -o-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9534f), to(#c12e2a));
  background-image: linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #b92c28;
  &:hover, &:focus {
    background-color: #c12e2a;
    background-position: 0 -15px;
  }
  &:active, &.active {
    background-color: #c12e2a;
    border-color: #b92c28;
  }
  &.disabled, &[disabled] {
    background-color: #c12e2a;
    background-image: none;
  }
}

fieldset[disabled] .btn-danger {
  background-color: #c12e2a;
  background-image: none;
}

.btn-danger {
  &.disabled:hover, &[disabled]:hover {
    background-color: #c12e2a;
    background-image: none;
  }
}

fieldset[disabled] .btn-danger:hover {
  background-color: #c12e2a;
  background-image: none;
}

.btn-danger {
  &.disabled:focus, &[disabled]:focus {
    background-color: #c12e2a;
    background-image: none;
  }
}

fieldset[disabled] .btn-danger:focus {
  background-color: #c12e2a;
  background-image: none;
}

.btn-danger {
  &.disabled.focus, &[disabled].focus {
    background-color: #c12e2a;
    background-image: none;
  }
}

fieldset[disabled] .btn-danger.focus {
  background-color: #c12e2a;
  background-image: none;
}

.btn-danger {
  &.disabled:active, &[disabled]:active {
    background-color: #c12e2a;
    background-image: none;
  }
}

fieldset[disabled] .btn-danger:active {
  background-color: #c12e2a;
  background-image: none;
}

.btn-danger {
  &.disabled.active, &[disabled].active {
    background-color: #c12e2a;
    background-image: none;
  }
}

fieldset[disabled] .btn-danger.active {
  background-color: #c12e2a;
  background-image: none;
}

.thumbnail, .img-thumbnail {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}

.dropdown-menu > {
  li > a {
    &:hover, &:focus {
      background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
      background-image: -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
      background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
      background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
      background-color: #e8e8e8;
    }
  }
  .active > a {
    background-image: -webkit-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
    background-image: -o-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2e6da4));
    background-image: linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);
    background-color: #2e6da4;
    &:hover, &:focus {
      background-image: -webkit-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
      background-image: -o-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
      background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2e6da4));
      background-image: linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);
      background-color: #2e6da4;
    }
  }
}

.navbar-default {
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f8f8f8));
  background-image: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
  .navbar-nav > {
    .open > a, .active > a {
      background-image: -webkit-linear-gradient(top, #dbdbdb 0%, #e2e2e2 100%);
      background-image: -o-linear-gradient(top, #dbdbdb 0%, #e2e2e2 100%);
      background-image: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#e2e2e2));
      background-image: linear-gradient(to bottom, #dbdbdb 0%, #e2e2e2 100%);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', endColorstr='#ffe2e2e2', GradientType=0);
      -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
    }
  }
}

.navbar-brand, .navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}

.navbar-inverse {
  background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background-image: -o-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222222));
  background-image: linear-gradient(to bottom, #3c3c3c 0%, #222222 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border-radius: 4px;
  .navbar-nav > {
    .open > a, .active > a {
      background-image: -webkit-linear-gradient(top, #080808 0%, #0f0f0f 100%);
      background-image: -o-linear-gradient(top, #080808 0%, #0f0f0f 100%);
      background-image: -webkit-gradient(linear, left top, left bottom, from(#080808), to(#0f0f0f));
      background-image: linear-gradient(to bottom, #080808 0%, #0f0f0f 100%);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff080808', endColorstr='#ff0f0f0f', GradientType=0);
      -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
      box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
    }
  }
  .navbar-brand, .navbar-nav > li > a {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  }
}

.navbar-static-top, .navbar-fixed-top, .navbar-fixed-bottom {
  border-radius: 0;
}

@media (max-width: 767px) {
  .navbar .navbar-nav .open .dropdown-menu > .active > a {
    color: #fff;
    background-image: -webkit-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
    background-image: -o-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2e6da4));
    background-image: linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);
    &:hover, &:focus {
      color: #fff;
      background-image: -webkit-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
      background-image: -o-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
      background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2e6da4));
      background-image: linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);
    }
  }
}

.alert {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.alert-success {
  background-image: -webkit-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
  background-image: -o-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dff0d8), to(#c8e5bc));
  background-image: linear-gradient(to bottom, #dff0d8 0%, #c8e5bc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
  border-color: #b2dba1;
}

.alert-info {
  background-image: -webkit-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
  background-image: -o-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9edf7), to(#b9def0));
  background-image: linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
  border-color: #9acfea;
}

.alert-warning {
  background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
  background-image: -o-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcf8e3), to(#f8efc0));
  background-image: linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
  border-color: #f5e79e;
}

.alert-danger {
  background-image: -webkit-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background-image: -o-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2dede), to(#e7c3c3));
  background-image: linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
  border-color: #dca7a7;
}

.progress {
  background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
  background-image: -o-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#f5f5f5));
  background-image: linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
}

.progress-bar {
  background-image: -webkit-linear-gradient(top, #337ab7 0%, #286090 100%);
  background-image: -o-linear-gradient(top, #337ab7 0%, #286090 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#286090));
  background-image: linear-gradient(to bottom, #337ab7 0%, #286090 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff286090', GradientType=0);
}

.progress-bar-success {
  background-image: -webkit-linear-gradient(top, #5cb85c 0%, #449d44 100%);
  background-image: -o-linear-gradient(top, #5cb85c 0%, #449d44 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5cb85c), to(#449d44));
  background-image: linear-gradient(to bottom, #5cb85c 0%, #449d44 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
}

.progress-bar-info {
  background-image: -webkit-linear-gradient(top, #5bc0de 0%, #31b0d5 100%);
  background-image: -o-linear-gradient(top, #5bc0de 0%, #31b0d5 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5bc0de), to(#31b0d5));
  background-image: linear-gradient(to bottom, #5bc0de 0%, #31b0d5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d5', GradientType=0);
}

.progress-bar-warning {
  background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
  background-image: -o-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0ad4e), to(#ec971f));
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #ec971f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffec971f', GradientType=0);
}

.progress-bar-danger {
  background-image: -webkit-linear-gradient(top, #d9534f 0%, #c9302c 100%);
  background-image: -o-linear-gradient(top, #d9534f 0%, #c9302c 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9534f), to(#c9302c));
  background-image: linear-gradient(to bottom, #d9534f 0%, #c9302c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc9302c', GradientType=0);
}

.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.list-group {
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}

.list-group-item.active {
  text-shadow: 0 -1px 0 #286090;
  background-image: -webkit-linear-gradient(top, #337ab7 0%, #2b669a 100%);
  background-image: -o-linear-gradient(top, #337ab7 0%, #2b669a 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2b669a));
  background-image: linear-gradient(to bottom, #337ab7 0%, #2b669a 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2b669a', GradientType=0);
  border-color: #2b669a;
  &:hover, &:focus {
    text-shadow: 0 -1px 0 #286090;
    background-image: -webkit-linear-gradient(top, #337ab7 0%, #2b669a 100%);
    background-image: -o-linear-gradient(top, #337ab7 0%, #2b669a 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2b669a));
    background-image: linear-gradient(to bottom, #337ab7 0%, #2b669a 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2b669a', GradientType=0);
    border-color: #2b669a;
  }
  .badge, &:hover .badge, &:focus .badge {
    text-shadow: none;
  }
}

.panel {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.panel-default > .panel-heading {
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
}

.panel-primary > .panel-heading {
  background-image: -webkit-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
  background-image: -o-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2e6da4));
  background-image: linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);
}

.panel-success > .panel-heading {
  background-image: -webkit-linear-gradient(top, #dff0d8 0%, #d0e9c6 100%);
  background-image: -o-linear-gradient(top, #dff0d8 0%, #d0e9c6 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dff0d8), to(#d0e9c6));
  background-image: linear-gradient(to bottom, #dff0d8 0%, #d0e9c6 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffd0e9c6', GradientType=0);
}

.panel-info > .panel-heading {
  background-image: -webkit-linear-gradient(top, #d9edf7 0%, #c4e3f3 100%);
  background-image: -o-linear-gradient(top, #d9edf7 0%, #c4e3f3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9edf7), to(#c4e3f3));
  background-image: linear-gradient(to bottom, #d9edf7 0%, #c4e3f3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffc4e3f3', GradientType=0);
}

.panel-warning > .panel-heading {
  background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #faf2cc 100%);
  background-image: -o-linear-gradient(top, #fcf8e3 0%, #faf2cc 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcf8e3), to(#faf2cc));
  background-image: linear-gradient(to bottom, #fcf8e3 0%, #faf2cc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fffaf2cc', GradientType=0);
}

.panel-danger > .panel-heading {
  background-image: -webkit-linear-gradient(top, #f2dede 0%, #ebcccc 100%);
  background-image: -o-linear-gradient(top, #f2dede 0%, #ebcccc 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2dede), to(#ebcccc));
  background-image: linear-gradient(to bottom, #f2dede 0%, #ebcccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffebcccc', GradientType=0);
}

.well {
  background-image: -webkit-linear-gradient(top, #e8e8e8 0%, #f5f5f5 100%);
  background-image: -o-linear-gradient(top, #e8e8e8 0%, #f5f5f5 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#f5f5f5));
  background-image: linear-gradient(to bottom, #e8e8e8 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);
  border-color: #dcdcdc;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}